# SPDX-FileCopyrightText: 2025 Eli Array Minkoff
#
# SPDX-License-Identifier: 0BSD
---
CompileFlags:
  Add:
    - "-Wall"
    - "-Wextra"
    - "-xc"
    - "-std=gnu23"
    - "-Wno-nullability-extension"
    # Warn on reserved identifiers
    - "-Wreserved-identifier"
    - "-Wreserved-macro-identifier"
  Compiler: clang

---

If:
  PathMatch: .*\.h
CompileFlags:
  Remove:
    - "-xc"
  Add:
    - "-xc-header"

